<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <!-- Custom match templates go here -->
	<head py:match="head" py:attrs="select('@*')">
		${select('*|comment()|text()')}
		<link rel="stylesheet" type="text/css" href="${href.chrome('site/style.css')}" />
	</head>
	
	<body py:match="body" py:attrs="select('@*')">
		${select('*//div[@class!="nav"]|comment()|text()')}
		<div id="navigation">
			${select('//*[@class="nav"]')}
		</div>
	</body>

	<label py:match="label[@for='proj-search']" for="proj-search" id="proj-search-label">
	${select('*|comment()|text()')}
	</label>
	
	<div py:match="div[@id='metanav']" py:attrs="select('@*')">
	<h2>Navigation</h2>
	${select('*|comment()|text()')}
	</div>
	
	<div py:match="div[@id='mainnav']" py:attrs="select('@*')">
	<h2>Project Info</h2>
	${select('*|comment()|text()')}
	</div>

	<ul py:match="div[@id='metanav']/ul" py:attrs="select('@*')">
	<li class="first"><a href="/trac/wiki/About">about modu</a></li>
	<li><a href="/documentation">documentation</a></li>
	<li><a href="/faq">faq</a></li>
	<li class="last"><a href="/downloads">downloads</a><br/></li>
	
	${select('*|comment()|text()')}
	</ul>

	<h2 py:match="div[@id='ctxtnav']/h2" py:attrs="select('@*')">
	</h2>
</html>