\# $project_description
\# Copyright (C) $year $copyright_holder
\#
#echo '# $' + 'Id$'
\#

from modu.editable import resource

from ${project_name}.resource import index

class Site(object):
	def initialize(self, application):
		application.base_domain = 'localhost'
		
		application.activate(resource.AdminResource, default_listing='page')
		application.activate(index.Resource)
