<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>modu CherryTemplate Test Page</title>
</head>
<body>
	<h1><py-eval="test"></h1>

	<hr/>

	<ul>
	<py-for="item in sample_array">
		<li><py-eval="item"></li>
	</py-for>
	</ul>
	
	<select>
	<py-for="item in sample_hash">
		<option value="<py-eval="str(sample_hash[item])">"><py-eval="item"></li>
	</py-for>
	</select>
</body>
</html>