#include 'admin-header.html.tmpl'

<h2>$getVar('title', 'record list')</h2>

<div class="nav-links">
#set can_create = False
#if (not $selected_itemdef.config.get('no_create', False)) and (not $selected_itemdef.config.get('restricted_create', False))
#set can_create = True
<a href="$req.get_path($req.prepath, 'detail', $selected_itemdef.get_table(), 'new')">Create New Record</a>
#end if
#if $selected_itemdef.config.get('export', False)
#if $can_create then '|' else ''#
<a href="$req.get_path($req.prepath, 'export', $selected_itemdef.get_table())">Export Found Records</a>
#end if
</div>

#if $search_form
	<div id="search">
	<h3>search</h3>
	$search_form
	</div>
#end if

$page_guide

#if($forms)
#set first_row = $forms[0]
<form id="#echo first_row.attr('name') #" name="#echo first_row.attr('name').replace('-', '_') #"
	method="#echo first_row.attr('method', 'post') #"
	enctype="#echo first_row.attr('enctype', 'application/x-www-form-urlencoded') #">
	<table class="listing-table">
		<tr>
		#for column in first_row.values()
			#set name = column.attr('label', column.attr('name'))
			#set col_id = column.attr('name') + '-col'
			<th id="$col_id">$name</th>
		#end for
		</tr>
		#for row in $forms
		<tr>
		#for column in row.values()
			<td>#echo column.render($req) #</td>
		#end for
		</tr>
		#end for
	</table>
</form>
#end if

$page_guide

#include 'admin-footer.html.tmpl'