#include 'admin-header.html.tmpl'

<h2>Access Control</h2>

<br/>
<form method="post">
<label class="field-label" for="new-permission">New Permission:</label><input type="text" id="new-permission" name="new[permission]" value="" size="40" />
<input type="submit" name="submit" value="add permission" />
</form>
<br/>
<form method="post">
<label class="field-label" for="new-role">New Role:</label><input type="text" id="new-role" name="new[role]" value="" size="40" />
<input type="submit" name="submit" value="add role" />
</form>
<br/>
<form method="post">
<table id="acl-table">
	<tr>
		<th></th>
		#if $roles
			#for rid, rname in $roles.items()
			<td class="role-cell">$rname</td>
			#end for
		#end if
	</tr>
	#set last_name = None
	#if $permissions
		#for pid, pname in $permissions.items():
			#if $pname != $last_name
				#if $last_name
			</tr>
				#end if
			#set last_name = $pname
			<tr class="perm-row">
				<td class="permission-cell">$pname</td>
			#end if
			#for rid, rname in $roles.items()
				<td class="check-cell"><input type="checkbox" name="acl[$pid][$rid]" value="1"#if $pid in $acl_map and $rid in $acl_map[$pid] then ' checked' else ''#/></td>
			#end for
		#end for
		#if $pname != $last_name
		</tr>
		#end if
	#end if
</table>
<br/>
<input type="submit" name="submit" value="save permissions" />
</form>

<h2>Role Assignments</h2>
<ul>
#for $role in $role_assignments
	<li style="margin-bottom: 10px;">
		<a href="$req.get_path($req.prepath, 'detail/role', $role['id'])">$role['name']</a>:
		<div>
		#for $member in $role['members']
			$member['first'] $member['last'] (<a href="$req.get_path($req.prepath, 'detail/user', $member['id'])">$member['username']</a>),
		#end for
		</div>
	</li>
#end for
</ul>
#include 'admin-footer.html.tmpl'
