#include 'header.html.tmpl'

<h1>Administration</h1>

<form method="post">
<table>
<tr><td>Username:</td><td><input type="text" name="username"></td></tr>
<tr><td>Password:</td><td><input type="password" name="password"></td></tr>
<tr><td></td><td><input type="submit" name="login" value="login"></td></tr>
</table>
</form>

#include 'footer.html.tmpl'