			</div>
		</div>
				
		<div id="footer">
			#import datetime
			#set year = datetime.date.today().year
			&copy; 2007-$year Phil Christensen. See <a href="/trac/browser/trunk/LICENSE">LICENSE</a> for details.
		</div>
	
	</div>

</div>
	
</body>
</html>