<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>modu: a web toolkit</title>
	<style type="text/css">@import '$req.get_path('styles.css')';</style>
</head>
<body>

<div id="header">
	<a href="$req.get_path('/')">
	<img src="$req.get_path('images/logo-small.jpg')" border="0" />
	</a>
</div>

<div id="wrapper1">
	
	<div id="wrapper2">
	
		<div id="maincol">
				
			<div id="leftcol">
				<div class="colbox">
				<label>Navigation</label>
				<ul class="navlist">
					<li><a href="/home">home</a></li>
					<li>&nbsp;</li>
					<li><a href="/about">about modu</a></li>
					<li><a href="/documentation">documentation</a></li>
					<li><a href="/faq">faq</a></li>
					<li><a href="/trac/wiki">modu wiki</a></li>
					<li>&nbsp;</li>
					<li><a href="/download">download</a></li>
					<li><a href="/trac/browser">browse source</a></li>
				</ul>
				</div>
			</div>
				
			<div id="rightcol">
				
			</div>
			
			<div id="centercol">
