<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>$title</title>
	<style type="text/css">@import '$req.get_path('assets/reset-min.css')';</style>
	<style type="text/css">@import '$req.get_path('assets/global.css')';</style>
	<style type="text/css">@import '$req.get_path('styles.css')';</style>
</head>
<body>

<div id="header">
	<a href="$req.get_path('/')">
	<img src="$req.get_path('images/logo-small.jpg')" border="0" />
	</a>
</div>

<div id="wrapper1">
	
	<div id="wrapper2">
	
		<div id="maincol">
				
			<div id="leftcol">
				<div class="nav-menu">
				
				<div class="nav-list">
					<div class="title">navigation</div>
					<div class="subnav-list">
						<a href="$req.get_path('trac/wiki/About')">about modu</a>
						<a href="$req.get_path('documentation')">documentation</a>
						<a href="$req.get_path('faq')">faq</a>
						<a href="$req.get_path('downloads')">downloads</a>
						<br/>
						#if $req.user.get_id()
						<div class="login-message">logged in as $req.user.username</div>
						<a href="/trac/logout">Logout</a>
						#else
						<a href="/trac/login">Login</a>
						#end if
						<a href="/trac/prefs">Preferences</a>
						<a href="/trac/wiki/TracGuide">Help/Guide</a>
						<a href="/trac/about">About Trac</a>
					</div>
				</div>
				
				<div class="nav-list">
					<div class="title">project info</div>
					<div class="subnav-list">
						<a href="/trac/wiki">Wiki</a>
						<a href="/trac/timeline">Timeline</a>
						<a href="/trac/roadmap">Roadmap</a>
						<a href="/trac/browser">Browse Source</a>
						<a href="https://bugs.launchpad.net/modu">View Tickets</a>
						<a href="/trac/search">Search</a>
					</div>
				</div>
				
				</div>
			</div>
				
			<div id="rightcol">
				<div class="nav-menu">
				
				##<div class="nav-list">
				##	<div class="title">sites using modu</div>
				##	<div class="subnav-list">
				##		<a href="http://www.dramonline.org">dramonline.org</a>
				##	</div>
				##</div>
				##
				##<div class="nav-list">
				##	<div class="title">modu essentials</div>
				##	<div class="subnav-list">
				##		<a href="http://www.python.org">python</a>
				##		<a href="http://www.zope.org/Products/ZopeInterface">zope interface</a>
				##		<a href="http://www.twistedmatrix.com">twisted python</a>
				##		<a href="http://www.cheetahtemplate.org">cheetah template</a>
				##	</div>
				##</div>
				##
				##<div class="nav-list">
				##	<div class="title">recent news</div>
				##	<div class="subnav-list">
				##		#from modusite.model.blog import Blog
				##		#for blog in Blog.get_blogs($req.store)
				##		<a href="$req.get_path('blog', $blog.get_id())">$blog.title</a>
				##		#end for
				##	</div>
				##</div>
				
				</div>
			</div>
			
			<div id="centercol">
				#if $req.messages.count('error')
				<ul>
				#for $err in $req.messages.get('error')
				<li class="error">$err</li>
				#end for
				</ul>
				#end if
				
				#if $req.messages.count('message')
				<ul>
				#for $msg in $req.messages.get('message')
				<li class="message">$msg</li>
				#end for
				</ul>
				#end if

