<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>$title</title>
	<style type="text/css">@import '$req.get_path('assets/reset-min.css')';</style>
	<style type="text/css">@import '$req.get_path('assets/global.css')';</style>
	<style type="text/css">@import '$req.get_path('styles.css')';</style>
</head>
<body>

<div id="header">
	<a href="$req.get_path('/')">
	<img src="$req.get_path('images/logo-small.jpg')" border="0" />
	</a>
</div>

<div id="wrapper1">
	
	<div id="wrapper2">
	
		<div id="maincol">
				
			<div id="leftcol">
				<div class="nav-menu">
				
				<div class="nav-list">
					<span class="title">nagivation</span>
					<div class="subnav-list">
						<a href="$req.get_path('/')">&raquo; home</a>
						<br/>
						<a href="$req.get_path('trac/wiki/About')">&raquo; about modu</a>
						<a href="$req.get_path('documentation')">&raquo; documentation</a>
						<a href="$req.get_path('faq')">&raquo; faq</a>
						<a href="$req.get_path('trac/wiki')">&raquo; modu wiki</a>
						<br/>
						<a href="$req.get_path('downloads')">&raquo; downloads</a>
						<a href="$req.get_path('trac/browser')">&raquo; browse source</a>
					</div>
				</div>
				
				<div class="nav-list">
					<span class="title">recent news</span>
					<div class="subnav-list">
						#from modusite.model.blog import Blog
						#for blog in Blog.get_blogs($req.store)
						<a href="$req.get_path('blog', $blog.get_id())">&raquo; $blog.title</a>
						#end for
					</div>
				</div>
				
				</div>
			</div>
				
			<div id="rightcol">
				<div class="nav-menu">
				
				<div class="nav-list">
					<span class="title">sites using modu</span>
					<div class="subnav-list">
						<a href="http://www.dramonline.org">dramonline.org &laquo;</a>
					</div>
				</div>
				
				</div>
			</div>
			
			<div id="centercol">
				#if $req.messages.count('error')
				<ul>
				#for $err in $req.messages.get('error')
				<li class="error">$err</li>
				#end for
				</ul>
				#end if
				
				#if $req.messages.count('message')
				<ul>
				#for $msg in $req.messages.get('message')
				<li class="message">$msg</li>
				#end for
				</ul>
				#end if

