#include 'header.html.tmpl'

#if $content
<h2>$title</h2>
$content
#else
<h3 class="section-header">what is modu?</h3>

<p class="exec-summary">modu is a high-level toolkit for building database 
driven web applications in Python.</p>

<p>modu was created to bring together elements of various frameworks and
design patterns encountered over several years of professional web application
development.</p>

<p>modu is both a tribute and a response to tools like Ruby on Rails, CakePHP,
Drupal, Django, Twisted.Web, and many others. Aspects of these systems have
been borrowed in various ways, and all have been an inspiration.</p>

#include 'blog-summary.html.tmpl'

#end if

#include 'footer.html.tmpl'
