<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>modu: a web toolkit</title>
	<style type="text/css">@import '$req.get_path('styles.css')';</style>
</head>
<body>

<a href="$req.get_path('/')">
<img src="$req.get_path('images/logo-small.jpg')" border="0" />
</a>

$content

</body>
</html>