#include 'header.html.tmpl'

<h2>modu: login</h2>

$login_form

<div>
	<a href="/login/forgot-password">forgot your password?</a> |
	<a href="/login/register">create an account</a>
</div>

<br/>
<br/>
<br/>
<br/>

#include 'footer.html.tmpl'
