<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>editable test page</title>
	<style type="text/css">@import '$base_path/styles.css';</style>
	<style type="text/css">@import '$base_path/assets/jquery/jquery.autocomplete.css';</style>
	<script type="text/javascript" src="$base_path/assets/jquery/jquery-1.2.1.js"></script>
	<script type="text/javascript" src="$base_path/assets/jquery/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="$base_path/assets/editable-autocomplete.js"></script>
</head>
<body>
	<h2>editable test</h2>
	
	$form
</body>
</html>