/* CSS Document */

body {
	margin: 10px;
	padding: 0;
	font: normal 0.8em/1.2em verdana,aria,sans-serif;
	color: #666;
	background-color: #312d78;
}

#wrapper1 {
	position: relative;
	text-align: left;
	width: 100%;
	background-color: #6765ad;
}

#wrapper2 {
	position: relative;
	text-align: left;
	width: 100%;
}

#header {
	padding: 0;
	margin: 0;
	text-align: left;
}

#maincol {
	position: relative;
	margin: 0;
}

#leftcol { 
	position: relative;
	top: -10px;
	left: -10px;
	float: left;
	width: 220px;  /* for IE5/WIN */
	voice-family:  "\"}\"";
	voice-family: inherit;
	width: 200px; /* actual value */
	margin: 0 0 -10px 10px;
	padding-left: 10px;
	padding-top: 20px;
	z-index: 100;
}

#rightcol {
	position: relative;
	top: -10px;
	right: -10px;
	float: right;
	width: 220px;  /* for IE5/WIN */
	voice-family:  "\"}\"";
	voice-family: inherit;
	width: 200px; /* actual value */
	margin: 0 10px -10px 0;
	padding-right: 10px;
	padding-top: 20px;
	z-index: 99;
}

#centercol {
	position: relative;
	padding: 10px 240px;
	background-color: #fff;
}

#footer {
	position: relative;
	top: 1px;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 1% 0;
	text-align: left;
	font-size: 9px;
	color: #CCC;
	padding-left: 10px;
}

#footer a {
	color: #CCC;
}

h3.section-header {
	line-height: 100%;
	font-weight: normal;
	text-transform: lowercase;
	color: #fff;
	background-color: #5b5395;
	padding: 2px 2px 5px 2px;
	margin: 0;
}

.exec-summary {
	color: #312d78;
	font-size: 18px;
}

ul.navlist {
	list-style-type: none;
	padding-left: 10px;
	margin-top: 4px;
	line-height: 125%;
}

.colbox {
	background-color: #d5cdf1;
	padding: 0 0 5px 0;
	margin-bottom: 10px;
}

.colbox .boxtitle {
	background-color: #5b5395;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: lowercase;
	padding: 2px 4px 3px 4px;
}

#rightcol .colbox {
	text-align: right;
}

.blogbody .date {
	font-size: 16px; 
	color: #333; 
	border-bottom:1px solid #999;
	margin-bottom:10px;
	font-weight:bold;
}

.blogbody .title {
	font-size: 20px;
}

.blogbody .posted {
	font-size: 11px; 
	color: #000000; 
	margin-bottom: 25px;
}