/* CSS Document */

@import '/assets/navmenu-styles.css';

body {
	margin: 10px;
	padding: 0;
	font: normal 0.8em/1.2em helvetica,arial,sans-serif;
	color: #000;
}

pre {
	font-size: 12px;
	background-color: #d5cdf1;
	border: 1px solid #6765ad;
	margin: 1em 1.75em;
	padding: 5px 10px 5px 10px;
	overflow: auto;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 20px;
	margin-top: 20px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #6765ad;
}

h4 {
	font-size: 14px;
}

a,
a:link,
a:active,
a:hover,
a:visited {
	color: #49228c;
}

#wrapper1 {
	position: relative;
	text-align: left;
	width: 100%;
}

#wrapper2 {
	position: relative;
	text-align: left;
	width: 100%;
}

#header {
	padding: 0;
	margin: 0;
	text-align: left;
}

#maincol {
	position: relative;
	margin: 0 0 0 0;
}

#leftcol { 
	position: relative;
	top: -10px;
	left: -10px;
	float: left;
	width: 220px;  /* for IE5/WIN */
	voice-family:  "\"}\"";
	voice-family: inherit;
	width: 200px; /* actual value */
	margin: 0 0 -10px 10px;
	padding-left: 10px;
	padding-top: 20px;
	z-index: 100;
}

#rightcol {
	position: relative;
	top: -10px;
	right: -10px;
	float: right;
	width: 220px;  /* for IE5/WIN */
	voice-family:  "\"}\"";
	voice-family: inherit;
	width: 200px; /* actual value */
	margin: 0 10px -10px 0;
	padding-right: 10px;
	padding-top: 20px;
	z-index: 99;
}

#centercol {
	position: relative;
	padding: 10px 240px 100px 240px;
	background-color: #fff;
}

#footer {
	position: relative;
	top: 1px;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 1% 0;
	text-align: left;
	font-size: 9px;
	color: #aaa;
	padding-left: 10px;
}

#footer a {
	color: #aaa;
}

h3.section-header {
	line-height: 100%;
	font-weight: bold;
	text-transform: lowercase;
	color: #2e307f;
	margin: 0 0 5px 0;
	padding-top: 3px;
}

.exec-summary {
	color: #312d78;
	font-size: 18px;
	padding-top: 4px;
	line-height: 125%;
}

.nav-menu a,
.nav-menu a:link,
.nav-menu a:active,
.nav-menu a:hover,
.nav-menu a:visited {
	color: #2e307f;
	padding: 1px 0 2px 0;
}

.nav-menu .nav-list{
	text-align: left;
	background-color: #5b5395;
	color: #fff;
}

.nav-menu .nav-list .title{
	margin: 0;
	padding: 1px 6px 2px 6px;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: -0.018em
}

.nav-menu .subnav-list {
	background-color: #d5cdf1;
	text-transform: lowercase;
}

.nav-menu .subnav-list {
	color: #000;
	background-color: #d5cdf1;
}

.nav-menu .subnav-list a:hover {
	background-color: #b8b0ec;
}

#leftcol .nav-menu .subnav-list a:before {
	color: #2e307f;
	content: "\BB  ";
}

#rightcol .nav-menu .subnav-list a:after {
	color: #2e307f;
	content: "  \AB";
}

#rightcol .nav-menu .subnav-list {
	text-align: right;
}

#rightcol .nav-menu .subnav-list a {
	padding-right: 12px;
}

#rightcol .nav-menu .nav-list{
	text-align: right;
}

.blogbody .date {
	font-size: 16px; 
	color: #333; 
	border-bottom:1px solid #999;
	margin: 5px 0 0 0;
	font-weight:bold;
}

.blogbody .title {
	font-size: 20px;
}

.blogbody .posted {
	font-size: 11px; 
	color: #000000; 
	margin-bottom: 25px;
}

label.field-label {
	display: block;
	font-weight: bold;
}

.form-item {
	padding: 4px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.help {
	font-size: 11px;
}

.login-message {
	text-align: right;
	padding-right: 5px;
}

.error {
	color: #800;
}

.message {
	color: #080;
}

.form-help {
	font-size: 12px;
}

.form-error {
	border: 1px solid #aa6666;
	background-color: #ff9999;
}

.answered-by {
	display: block;
	color: #aaa;
	margin-bottom: 4px;
}