<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>modu Form Test Page</title>
	<style type="text/css">@import '$req.get_path('form.css')';</style>
</head>
<body>
	<h2>modu Form Test</h2>
	
	$form
	
	<tt>
	#filter WebSafe
	$result_data
	#end filter
	</tt>
</body>
</html>