<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>sandbox</title>
	<style type="text/css">@import '$req.get_path('styles.css')';</style>
</head>
<body>

$content

<li><a href="$req.get_path('zpt')">ZPT Template Example</a>
<li><a href="$req.get_path('cherry')">Cherry Template Example</a>
<li><a href="$req.get_path('form')">Form API Example</a>

</body>
</html>