<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title tal:content="here/title">Temporary title</title>
</head>
<body>
	<h2 tal:content="here/title">Temporary title</h2>
	<hr/>
	<p>I personally hated ZPT when I was forced to use it, and
		I'm not going to take the time to relearn it at this
		precise moment. Eventually I'll illustrate how to
		use macros and whatnot in this context.</p>
</body>
</html>