\# $project_description
\# Copyright (C) $year $copyright_holder
#echo '#\n# $' + 'Id$\n#\n'

import os.path

from zope.interface import classProvides

from twisted import plugin

import modu
from modu.web import app, static
from modu.editable import resource
from modu.editable.datatypes import fck

from ${project_name}.resource import index

class Site(object):
	classProvides(plugin.IPlugin, app.ISite)
	
	def initialize(self, application):
		application.base_domain = 'localhost'
		application.db_url = 'MySQLdb://$project_name@localhost/$project_name'
		
		modu_assets_path = os.path.join(os.path.dirname(modu.__file__), 'assets')
		application.activate(static.FileResource, ['/assets'], modu_assets_path)
		
		application.activate(resource.AdminResource, default_listing='page')
		application.activate(fck.FCKEditorResource)
		application.activate(index.Resource)
