\# $project_description
\# Copyright (C) $year $copyright_holder
#echo '#\n# $' + 'Id$\n#\n'

import os.path
import pkg_resources as pkg

from zope.interface import classProvides

from twisted import plugin

from modu.web import app, static
from modu.editable import resource
from modu.editable.datatypes import fck

from ${project_name}.resource import index

class Site(object):
	classProvides(plugin.IPlugin, app.ISite)
	
	def initialize(self, application):
		application.base_domain = 'localhost'
		application.db_url = 'MySQLdb://$project_name@localhost/$project_name'
		application.template_dir = '$project_name', 'template'
		
		import $project_name
		application.compiled_template_root = '/tmp/modu/$project_name'
		if not(os.path.exists(application.compiled_template_root)):
			os.makedirs(application.compiled_template_root)
		
		application.activate('/assets', static.FileResource, pkg.resource_filename('modu.assets', ''))
		
		import ${project_name}.itemdefs
		application.activate('/admin', resource.AdminResource, default_path='admin/listing/page', itemdef_module=${project_name}.itemdefs)
		
		application.activate('/fck', fck.FCKEditorResource)
		application.activate('/', index.Resource)
