<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>modu Cheetah Test Page</title>
</head>
<body>
	<h1>$test</h1>

	<hr/>

	<form method="post" enctype="multipart/form-data">
		<input type="file" name="file_upload" />
		<input type="submit" name="upload" value="upload" />
	</form>

	<ul>
	#for $item in $sample_array
		<li>$item</li>
	#end for
	</ul>
	
	<select>
	#for $item in $sample_hash
		<option value="$sample_hash[$item]">$item</li>
	#end for
	</select>
	
	<pre>
	#filter WebSafe
	$request_data
	#end filter
	</pre>
</body>
</html>