body {
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}

label.field-label {
	display: block;
	font-weight: bold;
}

.form-item {
	padding: 4px;
	margin-top: 5px;
	margin-bottom: 10px;
	clear: both;
}

.form-help {
	font-size: 12px;
}

.form-error {
	border: 1px solid #aa6666;
	background-color: #ff9999;
}

.current-user-info {
	font-size: 11px;
}

.page-guide {
	font-size: 11px;
	padding: 10px 10px 10px 10px;
	float: right;
}

#navigation {
	position:absolute;
	z-index: 1;
	margin-left:15px;
	margin-right:210px;
	width:210px;
}

#content {
	position:absolute;
	margin-right:20px;
	margin-left:235px;
	margin-bottom:20px;
	width: 70%;
}

#form-item-cancel,
#form-item-delete,
#form-item-save {
	display: inline;
}

#form-item-search,
#form-item-clear_search{
	display: inline;
}

#listing-table {
	clear: both;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}

#listing-table th {
	border-top: 1px dotted #999;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
	border-bottom: 1px solid #bbb;
	text-align: left;
	padding: 4px 8px 0px 8px;
}

#listing-table td {
	border-left: 1px dotted #ddd;
	border-right: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	padding: 4px 8px 8px 8px;
	vertical-align: top;
}

ul.subnav-list li.active {
	font-weight: bold;
}