@import 'reset-min.css';
@import 'global.css';
@import 'navmenu-styles.css';

body {
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size: 14px;
	line-height: 120%;
}

label.field-label {
	display: block;
	font-weight: bold;
}

strong {
	font-weight: bold;
}

.current-user-info {
	margin-top: 15px;
	margin-bottom: 15px;
}

.form-item {
	padding: 4px;
	margin-top: 5px;
	margin-bottom: 10px;
	clear: both;
}

.help {
	font-size: 11px;
}

.form-help {
	font-size: 12px;
}

.minor-help {
	color: #888;
}

.form-error {
	border: 1px solid #aa6666;
	background-color: #ff9999;
}

.current-user-info {
	font-size: 11px;
}

.page-guide {
	font-size: 11px;
	padding: 10px 10px 10px 10px;
	float: right;
}

.ac_input {
	background-color: #f1efca;
	background-image: url(images/ac-icon.png);
	background-position: right;
	background-repeat: no-repeat;
}

#navigation {
	position: absolute;
	z-index: 1;
	margin-left: 15px;
	margin-right: 210px;
	width: 210px;
}

#content {
	position:absolute;
	margin-right:20px;
	margin-top:30px;
	margin-left:235px;
	margin-bottom:20px;
	width: 70%;
}

#form-item-cancel,
#form-item-delete,
#form-item-save {
	display: inline;
}

#form-item-search,
#form-item-clear_search{
	display: inline;
}

.listing-table {
	clear: both;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}

.listing-table th {
	border-top: 1px dotted #999;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
	border-bottom: 1px solid #bbb;
	text-align: left;
	padding: 4px 8px 0px 8px;
	font-weight: bold;
}

.listing-table td {
	border-left: 1px dotted #ddd;
	border-right: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	padding: 4px 8px 8px 8px;
	vertical-align: top;
}

label .required {
	color: #800;
}
.error {
	color: #800;
}

.message {
	color: #080;
}

#search {
	background-color: #ddd;
	padding: 0 10px 10px 10px;
}

#search h3 {
	font-size: 16px;
	border-bottom: 1px solid #999;
	padding-top: 2px;
}

/**************************
 * ACL Table Styles
 **************************/

#acl-table {
	margin-top: 30px;
}

#acl-table tr.perm-row:hover {
	background-color: #ddd;
}

#acl-table td {
	border-top: 1px dotted #999;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
	border-bottom: 1px solid #bbb;
	padding: 4px 0px 6px 4px;
}

#acl-table .role-cell,
#acl-table .check-cell {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

#acl-table .permission-cell {
	padding-right: 40px;
}
