h1, h2, h3, h4 {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 16px;
}

label input {
	margin-left: 5px;
}

ul, ol, dl {
	margin: 10px 0 10px 15px;
	padding-left: 10px;
}

dt {
	font-weight: bold;
}

dd {
	padding-left: 20px;
}

ol li{
	list-style: decimal;
}

ul li{
	list-style: disc;
}

p {
	margin-bottom: 10px;
}

th {
	font-weight: bold;
}

strong {
	font-weight: bold;
}