<h3 class="section-header">Recent News</h3>
#from modusite.model.blog import Blog
#for blog in Blog.get_blogs($req.store)
<div class="blogbody">

<h3 class="title">
#if $blog.category_code then '<i>' + $blog.category_code + '</i> -' else '' #
$blog.title
</h3>
#if $blog.teaser
	$blog.teaser
	#if $blog.body
	<span class="extended">
		<a href="$req.get_path('blog', $blog.url_code)">Continue reading "$blog.title"</a>
	</span>
	#end if
#else
	$blog.body
#end if
<br />
<div class="posted">
	Posted by $blog.get_author_name() on $blog.published_date.strftime('%B %d, %Y') at <a href="$req.get_path('blog', $blog.url_code)">$blog.published_date.strftime('%I:%M %p')</a>
</div>
</div>
#end for
