#include 'header.html.tmpl'

#if $projects
	#for $project in $projects:
		<h3>$project.name</h3>
		
		#set releases = $project.get_releases()
		#if $releases
			#set release = $releases.pop(0)
			
			<p>$project.name is released under the <a href="$release.license_url">$release.license_name</a> license.
			For installation instructions, see <a href="/trac/wiki/Installation">Installation</a> or the
			included <a class="source" href="/trac/browser/tags/modu-$release.version_string/INSTALL">INSTALL</a> file.</p>
			
			<h4>Latest Stable Release $release.version_string</h4>
			<p>$release.version_string is a new stable maintenance release. It contains a number of bug fixes
			and minor enhancements. See the <a class="source" href="/trac/browser/tags/modu-$release.version_string/ChangeLog">ChangeLog</a>
			for details.</p>
			
			<div style="background: #f0f0f0; width: 40%; padding: .5em 3em" class="wikipage">
				<h4>Tar package</h4>
				<ul>
					<li><strong>HTTP</strong>:
						<a href="$release.tarball_url#egg=$project.shortname-$release.version_string">$release.filename</a>
					</li>
				</ul>
				<p><sub><tt>md5sum: $release.tarball_checksum</tt></sub></p>
			</div>
			
			#if $releases
				<small>
				Previous Stable Releases: 
				#for $release in $releases:
					<a href="$release.tarball_url">$release.version_string</a>
				#end for
				</small>
			#end if
			
			#set nightly = $project.get_nightly()
			#if $nightly
				<h4>Nightly Snapshot Release $nightly.version_string</h4>
				<p>$nightly.version_string is a the current nightly build of the development trunk. It is likely to
				contain various bugs and other issues, and you are advised to use it at your own risk.
			
				See the <a class="source" href="/trac/browser/trunk/ChangeLog">ChangeLog</a> for details.</p>
			
				<div style="background: #f0f0f0; width: 40%; padding: .5em 3em" class="wikipage">
					<h4>Tar package</h4>
					<ul>
						<li><strong>HTTP</strong>:
							<a href="$nightly.tarball_url">$nightly.filename</a>
						</li>
					</ul>
					<p><sub><tt>md5sum: $nightly.tarball_checksum</tt></sub></p>
				</div>
			#end if
		#else
			<p>There have not yet been any formal releases of $project.name.</p>
		#end if
		
		<h4>SVN Development Trunk</h4>
		<p>To check out a directory of the source code from SVN HEAD, use the following incantation:</p>
		<pre>svn co http://svn.bubblehouse.org/$project.name/trunk $project.shortname</pre>
	#end for
	</dl>
#else
	<p>There have not yet been any formal releases.</p>
#end if

#include 'footer.html.tmpl'