#include 'header.html.tmpl'

<h3 class="section-header">frequently asked questions</h3>

#for faq in $faqs
<div class="faqbody">
<h3 class="title">$faq.question</h3>
<small class="answered-by">Answered by $faq.get_answerer() on $faq.answered_date.strftime('%B %d, %Y')</small>

<p>$faq.answer</p>

</div>
#end for

#include 'footer.html.tmpl'
