#include 'header.html.tmpl'

#if $content
<h2>$title</h2>
$content
#else
<h3 class="section-header">what is modu?</h3>

<p class="exec-summary">modu is a high-level toolkit for building database-driven
web applications in Python.</p>

<p>modu encourages a number of conventions intended to keep large-scale web
projects organized and maintainable, while providing a number of optional
services that can be used or ignored by the programmer.</p>

<p>modu provides all the common components needed to build custom web 
applications in Python, including form generation, object-relational database 
mapping support, pluggable template systems, database-resident session and 
user support, and more. It supports Twisted.Web for deployment of small to 
medium-sized sites, and Apache 2.2 with mod_wsgi for high-performance 
environments, but can be adapted to any WSGI-compatible container.</p>

<p>modu encourages a lightweight Model-View-Controller approach; if you're an 
MVC purist, you'll find your needs met, and if you aren't, you'll find more 
than enough rope to hang yourself by.</p>

#include 'blog-summary.html.tmpl'

#end if

#include 'footer.html.tmpl'
