body {
	font: normal 0.8em/1.2em helvetica,arial,sans-serif;
}

a,
a:link,
a:active,
a:hover,
a:visited {
	color: #2e307f;
}

div.code {
	background-color: #d5cdf1;
	border: 1px solid #6765ad;
	margin: 1em 1.75em;
	padding: 5px 10px 5px 10px;
	overflow: auto;
}

table.code {
	background-color: #d5cdf1;
}

.wiki h1 {
	line-height: 100%;
	font-weight: bold;
	color: #2e307f;
}

.wiki h2 {
	border-bottom: 1px dotted #6765ad;
	line-height: 100%;
	font-weight: bold;
	color: #2e307f;
}

.code-func {
	color: #970d00;
}

.code-string {
	color: #2e307f;
}

.code-lang {
	color: #002b79;
}

.code-comment {
	color: #555;
}

#navigation {
	position: absolute;
	top: 103px;
	width: 210px;
}

#proj-search-label {
	margin-left: 400px;
}

#metanav {
	margin-top: 6px;
	margin-bottom: 5px;
}

#mainnav {
	border: 0;
	background: #d5cdf1;
	padding: 0;
	margin: 0 0 5px 10px;
}

#mainnav .active :link,
#mainnav .active :visited,
#mainnav :visited,
#mainnav :link {
	color: #2e307f;
	border: 0;
	background: transparent;
	font-size: 12px;
	font-weight: normal;
	font-family: helvetica,arial,sans-serif;
	padding: 4px 0px 3px 12px;
	width: 188px;
}

#mainnav .active :visited:hover,
#mainnav :visited:hover,
#mainnav :link:hover,
#mainnav .active :hover{
	color: #2e307f;
	border: 0;
	background: #b8b0ec;
	font-size: 12px;
	font-weight: normal;
	font-family: helvetica,arial,sans-serif;
	padding: 4px 0px 3px 12px;
	width: 188px;
}

#mainnav.nav ul li{
	margin: 0;
	padding: 2px 0px 2px 0px;
}

#ctxtnav {
	height: 100%;
}

.nav {
	float: left;
	clear: left;
	text-transform: lowercase;
	background-color: #d5cdf1;
	width: 200px;
	margin-left: 10px;
}

.nav h2 {
	display: block;
	background-color: #5b5395;
	color: #fff;
	border: 0;
	margin: 0;
	padding: 5px 0 2px 6px;
	font-size: 12px;
	line-height: 100%;
}

.nav .active :visited:hover,
.nav :visited:hover,
.nav :link:hover,
.nav .active :hover{
	color: #2e307f;
	background: #b8b0ec;
}

.nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav ul li {
	display: inline;
	font-size: 12px;
	text-align: left;
	border-right: 0;
	margin: 0;
	padding: 0;
	line-height: 100%;
}

.nav ul li a:before {
	color: #49228c;
	content: "\BB  ";
}

.nav ul li a {
	display: block;
	line-height: 100%;
	padding: 4px 0px 3px 12px;
	margin: 0;
	border: 0;
	width: 188px;
}

#content {
	clear: right;
	padding-top: 25px;
	margin-left: 240px;
}

#warning {
	position: relative;
	width: 75%;
	left: 220px;
}