#include 'admin-header.html.tmpl'

<h2>$getVar('title', 'record detail')</h2>

<div class="nav-links">
#if not $selected_itemdef.config.get('hidden', False)
<a href="$req.get_path($req.prepath, 'listing', $selected_itemdef.get_table())">Return to Listing</a>
#end if
#if (not $selected_itemdef.config.get('no_create', False)) and (not $selected_itemdef.config.get('restricted_create', False))
#if not $selected_itemdef.config.get('hidden', False) then '|' else ''#
<a href="$req.get_path($req.prepath, 'detail', $selected_itemdef.get_table(), 'new')">Create New Record</a>
#end if
</div>

#if $form
## This is very strange. For some reason if I use just $form in the form tag's
## echo statements, only repr(form) is output. If I omit the dollar sign
## (as I had to do in the listing template), I get "no such global" errors.
#set $dummy_form = $form
<form id="#echo dummy_form.attr('name') #" name="#echo dummy_form.attr('name').replace('-', '_') #"
	method="#echo dummy_form.attr('method', 'post') #"
	enctype="#echo dummy_form.attr('enctype', 'application/x-www-form-urlencoded') #">
	
	#for $field_name in $form
	#set $element = $form[$field_name]
	<a name="form-item-#echo element.name #"></a>
	<div class="form-item#if element.has_errors() then ' form-error' else '' #"
		id="form-item-#echo element.name #">
		#if element.attr('label', '')
		<label class="field-label">#echo element.attr('label') ##if element.attr('required') then '<span class="required">*</span> ' else ''#</label>
		#end if
		#echo element.render($req, fieldset=True) #
		#if element.attr('help', '')
		<div class="form-help">#echo element.attr('help') #</div>
		#end if
		#if element.has_errors()
		#for err in element.get_errors()
		<div class="form-help error">#echo err #</div>
		#end for
		#end if
	</div>
	#end for
</form>
#end if

#include 'admin-footer.html.tmpl'