#include 'admin-header.html.tmpl'

<h2>$getVar('title', 'record list')</h2>

#if not $selected_itemdef.get('no_create', False)
<a href="$req.get_path($req.prepath, 'detail', $selected_itemdef.get_table(), 'new')">Create New Record</a>
#end if

$search_form

$page_guide

#if($forms)
#set $first_row = $forms[0]
<form id="#echo first_row.attr('name') #" name="#echo first_row.attr('name').replace('-', '_') #"
	method="#echo first_row.attr('method', 'post') #"
	enctype="#echo first_row.attr('enctype', 'application/x-www-form-urlencoded') #">
	<table class="listing-table">
		<tr>
		#for $column in $first_row
			<th>#echo $first_row[$column].attr('label', $first_row[$column].attr('name')) #</th>
		#end for
		</tr>
		#for $row in $forms
		<tr>
		#for $column in $row
			<td>#echo $theme.basic_form_element($first_row.attr('name'), $row[$column]) #</td>
		#end for
		</tr>
		#end for
	</table>
</form>
#end if

$page_guide

#include 'admin-footer.html.tmpl'