#include 'admin-header.html.tmpl'

<h2>$getVar('title', 'record list')</h2>

#if not $selected_itemdef.config.get('no_create', False)
<div class="create-link">
<a href="$req.get_path($req.prepath, 'detail', $selected_itemdef.get_table(), 'new')">Create New Record</a>
</div>
#end if

#if $selected_itemdef.config.get('export', False)
<div class="export-link">
<a href="$req.get_path($req.prepath, 'export', $selected_itemdef.get_table())">Export Found Records</a>
</div>
#end if

$search_form

$page_guide

#if($forms)
#set first_row = $forms[0]
<form id="#echo first_row.attr('name') #" name="#echo first_row.attr('name').replace('-', '_') #"
	method="#echo first_row.attr('method', 'post') #"
	enctype="#echo first_row.attr('enctype', 'application/x-www-form-urlencoded') #">
	<table class="listing-table">
		<tr>
		#for column in first_row.values()
			#set name = column.attr('label', column.attr('name'))
			<th>$name</th>
		#end for
		</tr>
		#for row in $forms
		<tr>
		#for column in row
			<td>#echo row[column].render($req) #</td>
		#end for
		</tr>
		#end for
	</table>
</form>
#end if

$page_guide

#include 'admin-footer.html.tmpl'