<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>$getVar('title', 'admin interface')</title>
	$header_content
</head>
<body>

<div id="navigation">
#if $user
<p class="current-user-info">
	You are currently logged in as $user.username.<br/>
	<a href="$req.get_path($req.prepath, 'logout')">Click here to logout.</a>
</p>
#end if

#if $itemdef_layout and len($itemdef_layout)
<div class="nav-menu">
	#set categories = $itemdef_layout.keys()
	#silent categories.sort()
	#for $category in $categories
	#set itemdefs = $itemdef_layout[category]
	#set is_visible = False
	#for itemdef in $itemdefs
		#if not itemdef.config.get('hidden', False)
			#set is_visible = True
			#break
		#end if
	#end for
	#if is_visible
		<div class="nav-list">
			$category
			<div class="subnav-list">
			#for itemdef in $itemdefs
				#if itemdef.config.get('hidden', False)
					#continue
				#end if
				#if 'resource' in itemdef.config
				<a href="$req.get_path($req.prepath, 'custom', $itemdef.get_name())" class="#if $selected_itemdef.get_name() == $itemdef.get_name() then 'active' else ''#">&raquo; $itemdef.config.get('label', $itemdef.get_name())</a>
				#else
				<a href="$req.get_path($req.prepath, 'listing', $itemdef.get_name())" class="#if $selected_itemdef.get_name() == $itemdef.get_name() then 'active' else ''#">&raquo; $itemdef.config.get('label', $itemdef.get_name())</a>
				#end if
			#end for
			</div>
		</div>
	#end if
	#end for
</div>
#end if

</div>

<div id="content">

#if $req.messages.count('error')
<ul>
#for $err in $req.messages.get('error')
<li class="error">$err</li>
#end for
</ul>
#end if

#if $req.messages.count('message')
<ul>
#for $msg in $req.messages.get('message')
<li class="message">$msg</li>
#end for
</ul>
#end if

