<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>modu File Upload Test Page</title>

	<script src="prototype.js"></script>
	<script src="upload.js"></script>

	<style type="text/css">
		@import url('upload.css');
	</style>
</head>
<body>

#raw
<form enctype="multipart/form-data" method="post" target="progress-frame" onSubmit="waitForCompletion($('file-field'));">
#end raw
	<input type="file" id="file-field" name="file_field" />
	<input type="submit" name="submit" value="send file" />
</form>

<div id="progress-field">
	<div id="progress-bar"></div>
	<div id="progress-text"></div>
</div>

<iframe name="progress-frame" style="border: 0;width: 0px;height: 0px;"></iframe>

</body>
</html>