<!DOCTYPE html PUBLIC 
	"-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Dathomir File Upload Test Page</title>
</head>

<script src="prototype.js"></script>
<script type="text/javascript">
#raw
var task_id = undefined;
var check_count = 0;

function waitForCompletion(file_element){
	var statusField = $('status-field');
	statusField.innerHTML = 'Starting check daemon';
	task_id = setInterval(checkTotal, 1000, file_element.value);
}

function checkTotal(filename){
	filename = filename.split('/').pop();
	var ajax = new Ajax.Request('status/' + filename, {method:'get', onSuccess:checkTotalCallback, onFailure:checkTotalErrback});
}

function checkTotalCallback(response){
	check_count++;
	var statusField = $('status-field');
	statusField.innerHTML = response.responseText;
	if(response.responseText == 'complete'){
		clearInterval(task_id)
		task_id = undefined;
	}
}

function checkTotalErrback(response) {
	var statusField = $('status-field');
	statusField.innerHTML = 'Error ' + response.status + ' -- ' + response.statusText;
	if(task_id){
		clearInterval(task_id)
		task_id = undefined;
	}
}
#end raw
</script>
<body>

<form enctype="multipart/form-data" method="post" target="iframe_upload" onSubmit="waitForCompletion($('myfile'));">
	<input type="file" id="myfile" name="myfile" />
	<input type="submit" name="submit" value="send file" />
	<div id="status-field"></div>
	<iframe name="iframe_upload" style="border: 0;width: 0px;height: 0px;"></iframe>
</form>

<tt>
#filter WebSafe
$request_data
#end filter
</tt>

</body>
</html>